<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<div>
      <h1>
        Who am I ?
      </h1>
</div>
<div>
    <section class="user_info">
      <p>
        Username: <%= @user.name %>
      </p>  
    </section>
</div>